<h1> Add a new friend</h1>
<%= form_for :friend, url: friends_path do |f| %>
	<p>
		<i class="mdi-social-mood"></i>
		<%= f.label :twitterHandle, "Twitter Handle" %><br>
		<%= f.text_field :twitterHandle %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>