@font-face {
  font-family: "Material-Design-Icons";
  src: asset-url("Material-Design-Icons.eot?-g7cqhn");
  src: asset-url("Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), asset-url("Material-Design-Icons.woff?-g7cqhn") format("woff"), asset-url("Material-Design-Icons.ttf?-g7cqhn") format("truetype"), asset-url("Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
 }

@font-face {
  font-family: "Roboto";
  src: asset-url("Roboto-Thin.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: asset-url("Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: asset-url("Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: asset-url("Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: asset-url("Roboto-Bold.ttf");
  font-weight: 700; }