<div style="width:600px; margin:0 auto;">
  <footer class="page-footer orange">
    <div class="container">

    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://twitter.com/mikebashour">Mike Bashour</a>
      </div>
    </div>
  </footer>
</div>