<div style="width:600px; margin:0 auto;">
<nav class="light-blue lighten-1" role="navigation">
    <div class="container">
      <div class="nav-wrapper">

      	<a href="#" data-activates="slide-out" class="button-collapse">
  			<i class="large mdi-navigation-menu"></i>
		</a>
		<%= link_to "<i class = mdi-editor-mode-comment></i>Twentiments".html_safe, :friends, :class => "brand-logo" %>
      </div>
    </div>
  </nav>
  <ul id="slide-out" class="side-nav full">
  



  <li><%= link_to "Friends", :friends  %></li>
    <li><a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add" style="font-size:30px"></i>Add Friend</a></li>
  
</ul>
</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <h4>Add new friend</h4>
  <%= form_for :friend, url: friends_path do |f| %>
  <p>
    <%=  f.text_field :twitterHandle, :placeholder => "@Twitter Handle" %>
  </p>
  <div class="action-bar">
  <p style="float:right">
  <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-default modal-action" data-dismiss="modal">Add Friend</button>
    </p>
  </div>
<% end %>  

</div>

<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>